{% extends "layouts/base_layout.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block additional_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock additional_head %}


{% block additional_script %}
    <script type="text/javascript">

        function validate() {

            var checks = ['first_name', 'first_name_required', 'last_name', 'last_name_required', 'email', 'email_required', 'password', 'password_required'];
            var controller = true;

            for (var i = 0; i < checks.length; i = i + 2) {

                if (document.getElementById(checks[i]).value == "") {
                    document.getElementById(checks[i + 1]).style.visibility = "visible";
                    controller = false;
                } else {
                    document.getElementById(checks[i + 1]).style.visibility = "hidden";
                }
            }

            return controller;
        }
    </script>
{% endblock additional_script %}

{% block header %}
{% include "components/navbar.html" %}
{% endblock header %}

{% block content %}
    <div class="container-full-screen content-middle">
        <div class="row">
            <div class="col">
                <div class="form-account">
                    <div class="text-center">
                        <h2 class="form-title">Create Your Account</h2>
                    </div>
                    <form action="/account/register" name="register" onsubmit="return(validate());" method="post">

                        <div class="form-label">
                            <label>First Name:</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-user"></span>
                            <input type="text" id="first_name" name="first_name" placeholder="your first name">
                        </div>
                        <div class="form-label-error" id="first_name_required">
                            <label>The first name is required</label>
                        </div>

                        <div class="form-label">
                            <label>Last Name</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-user"></span>
                            <input type="text" id="last_name" name="last_name" placeholder="your last name">
                        </div>
                        <div class="form-label-error" id="last_name_required">
                            <label>The first name is required</label>
                        </div>

                        <div class="form-label">
                            <label>Email:</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-envelope"></span>
                            <input type="text" id="email" name="email" placeholder="your_email@email.com">
                        </div>
                        <div class="form-label-error" id="email_required">
                            <lable>The email is required</lable>
                        </div>

                        <div class="form-label">
                            <label>Password:</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-lock"></span>
                            <input type="password" id="password" name="password" placeholder="your account password">
                        </div>
                        <div class="form-label-error" id="password_required">
                            <label>The password is required</label>
                        </div>
                        <div class="form-error-messages">
                            {% if message_error %}
                            {% for error in message_error %}
                            <label>{{ error }}</label>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-input">
                            <input type="submit" value="Create Account">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}