{% extends "layouts/main_layout.html" %}

{% block title %}{{title}}{% endblock title %}

{% block additional_css %}
    <link rel="stylesheet" href="{{domain_url}}/static/css/account.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock additional_css %}

{% block content %}
    <div class="container-full-screen content-middle">
        <div class="row">
            <div class="col">
                <div class="form-account">
                    <div class="text-center">
                        <h2 class="form-title">Create Your Account</h2>
                    </div>
                    <form action="{{domain_url}}/account/register" name="register" method="post">
                        <div class="form-label">
                            <label>First Name:</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-user"></span>
                            <input type="text" name="first_name" {% if first_name %}value="{{first_name}}"{% endif %} placeholder="your first name" required>
                        </div>
                        <div class="form-label">
                            <label>Last Name</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-user"></span>
                            <input type="text" name="last_name" {% if last_name %}value="{{last_name}}"{% endif %} placeholder="your last name" required>
                        </div>
                        <div class="form-label">
                            <label>Email:</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-envelope"></span>
                            <input type="email" name="email" {% if email %}value="{{email}}"{% endif %} placeholder="your_email@email.com" required>
                        </div>
                        <div class="form-label">
                            <label>Password:</label>
                        </div>
                        <div class="form-input">
                            <span class="fa fa-lock"></span>
                            <input type="password" name="password" maxlength="12" placeholder="your account password" required>
                        </div>
                        <div class="form-message-error">
                        {% if message_error %}
                            {% for error in message_error %}
                            <div class="form-label-error">
                                <label>{{error}}</label>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-input">
                            <input type="submit" value="Create Account">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}