<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="description" content="EAD System">
    <meta name="author" content="Danilo Fernandes Galete">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% include "components/heads.html" %}
    
    {% block additional_head %}
    {% endblock additional_head %}

    {% block additional_script %}
    {% endblock additional_script %}
</head>

<body {% block body_class %}{% endblock body_class %}>

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %} 
    {% endblock footer %} 

</body>

</html>