* {
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.container-full-screen {
  height: 100vh;
}

.content-center {
  display: flex;
  justify-content: center;
}

.content-right {
  display: flex;
  justify-content: right;
}

.content-leff {
  display: flex;
  justify-content: left;
}

.content-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.nav-fixed {
  top: 0px;
  z-index: 99;
  position: fixed;
}