* {
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

.container {
  width: 100%;
  max-width: 1024px;
}

.container-full-screan {
  height: 100vh;
}

.row {
  display: flex;
}

.content-center {
  justify-content: center;
}

.content-right {
  justify-content: right;
}

.content-leff {
  justify-content: left;
}

.content-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}