.bg-error {
    background-color: #000;
    color: #fff;
}

.color-primary {
    background-color: #0e1823;
}

.color-secondary {
    background-color: #008080;
}

.box-error {
    margin: 2em;
    max-width: 600px;
}

.error-code {
    font-size: 40vmin;
}

.error-title {
    font-size: 8vmin;
}

.error-message {
    font-size: 2vmin;
    line-height: 2.5vmin;
}
