<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/mutante.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>{{ title }}</title>
</head>
<body>
    <div class="container-center">
        
            <h1>404</h1>
            <p>
                Something went wrong. Looks like the page you are looking for is missing. Please continue to our homepage.
            </p>
        
    </div>
</body>
</html>