<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/mutante.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>{{ page_title }}</title>
</head>
<body>
    <div class="container-full-screan content-middle bg-error">
        <div class="container">
            <div class="row content-center">
                <div class="col">
                    <h1 class="error-code">{{ code }}</h1>
                </div>
            </div>
            <div class="row content-center">
                <div class="col">
                    <h2 class="error-title">{{ title }}</h2>
                </div>
            </div>
            <div class="row content-center">
                <div class="col">
                    <div class="box-error error-message text-center">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</body>
</html>