{% extends "layouts/main_layout.html" %}

{% block title%}{{title}}{% endblock title %}

{% block additional_css %}
    <link rel="stylesheet" href="{{domain_url}}/static/css/error.css">
{% endblock additional_css %}

{% block content %}
    <div class="container-full-screen content-middle">
        <div class="container error-format">
            <div class="row content-center">
                <div class="col">
                    <h1 class="error-code">{{code}}</h1>
                </div>
            </div>
            <div class="row content-center">
                <div class="col">
                    <h2 class="error-title">{{error}}</h2>
                </div>
            </div>
            <div class="row content-center">
                <div class="col">
                    <div class="error-box error-message text-center">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}